<html>
<head>
    <style>
       body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #001f3f, #003366);
    color: white;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: gold;
}

form {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

fieldset {
    border: 1px solid gold;
    margin-bottom: 15px;
    padding: 15px;
}

legend {
    color: gold;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: #002b55;
    border: 1px solid gold;
    color: white;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 15px;
    background: gold;
    color: #001f3f;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: orange;
}

.success {
    text-align: center;
    color: lightgreen;
    display: none;
}


@media(max-width:600px){
    .container {
        padding: 10px;
    }
}
    </style>
</body>
</head>
</html>
